.authContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100vh;
  min-width: fit-content;
  /* background-image: url('/Users/rajihahrosydi/Documents/USM/YEAR 4/SEM 1/CMT322/PROJECT/cmt322-project/usm-bloodconnect/public/SignIn.png'); */
  background-color: #FBF5E9;
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
  }
  
  .logo {
    color: #fff;
    font: 800 36px Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  .content {
    display: flex;
    margin-top: 6vh;
    margin-bottom: 6vh;
    width: 100%;
    gap: 40px 60px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .heroContent {
    display: flex;
    min-width: 240px;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    width: 514px;
    padding: 7px 0;
  }
  
  .heroTitle {
    color: #AE0D05;
    font-size: 84px;
    font-weight: 700;
    line-height: 101px;
  }
  
  .heroDescription {
    color: #000;
    font-size: 21px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 16px;
  }
  
  .authBox {
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    min-width: 240px;
    width: 517px;
    margin: auto 0;
    padding: 24px;
  }
  
  @media (max-width: 991px) {
    .authContainer {
      padding: 0 20px;
    }
    
    .content {
      margin-top: 40px;
    }
    
    .heroContent,
    .heroTitle,
    .heroDescription,
    .authBox {
      max-width: 100%;
    }
    
    .heroTitle {
      font-size: 40px;
      line-height: 53px;
    }
    
    .authBox {
      padding: 0 20px;
    }
  }