.appointmentsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    padding-top: 10vh;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../../public/Background.png');
  }
  
  .mainContent {
    width: 80%;
    margin: 0;
    padding: 0;
  }
  
  .pageTitle {
    font-size: 2rem;
    font-weight: bold;
    color: #ae0d05;
    text-align: left; /* Aligns the title to the left */
    margin-bottom: 40px;
  }
  
  .appointmentsList {
    display: flex;
    width: 100%;
    flex-direction: column;
    font-weight: 500;
    justify-content: start;
  }
  
  @media (max-width: 991px) {
    .mainContent,
    .pageTitle,
    .appointmentsList {
      max-width: 100%;
    }
    .pageTitle {
      white-space: initial;
    }
  }