.socialLinks {
    display: flex;
    gap: 12px;
  }
  
  .socialLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
  }
  
  .socialIcon {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }