.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s ease-in-out;
}

.modalDonorForm {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 600px;
  text-align: left;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s ease-in-out;
}

.titleDonorForm {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #AE0D05;
}

.inputContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  
  .label {
    color: #000000;
    font-size: 18px;
    font-weight: 500;
  }
  
  .input {
    border-radius: 6px;
    border: 1px solid #bfc4d7;
    margin-top: 14px;
    margin-bottom: 14px;
    min-height: 18px;
    width: 560px;
    font-size: 16px;
    color: #000000;
    font-weight: 400;
    padding: 18px 20px;
    font-family: 'Montserrat', sans-serif;
  }

  .input:read-only {
    border-radius: 6px;
    border: 1px solid #bfc4d7;
    background-color: #e0e0e0;
    cursor: not-allowed;
  }
  
  @media (max-width: 991px) {
    .inputContainer, .label, .input {
      max-width: 100%;
    }
  }

  .buttonContainer1 {
    display: flex;
    justify-content: center;  /* Distribute buttons evenly */
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .selectContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  
  .label {
    color: #32343a;
    font-size: 18px;
    font-weight: 500;
  }
  
  .selectWrapper {
    display: flex;
    margin-top: 14px;
    width: 100%;
    flex-direction: column;
    font-size: 16px;
    color: #000;
    font-weight: 400;
  }
  
  .select {
    border-radius: 8px;
    background: #fff;
    display: flex;
    margin-top: 14px;
    margin-bottom: 14px;
    min-height: 55px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    border: 1px solid #9d9d9d;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
  }

  .select option {
    font-size: 16px;  /* Adjust font size for options */
    padding: 12px;    /* Adjust padding for options */
}
  
  .selectText {
    flex: 1;
    min-width: 240px;
  }
  
  .selectIcon {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
  
  @media (max-width: 991px) {
    .selectContainer, .label, .selectWrapper, .select, .selectText {
      max-width: 100%;
    }
  }

.saveButton {
    background-color: #ffffff;
    color: #4B7D8C;
    border: 1px solid #4B7D8C;
    border-radius: 32px;
    display: flex;
    min-height: 40px;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 10px 16px;
    font: 600 14px/1 Montserrat, sans-serif;
    cursor: pointer;
    text-decoration: none;
    margin-top: 40px;
    margin-bottom: 14px;
}

.saveButton:hover {
    background-color: #4B7D8C;
    color: #ffffff;
    font: 600 14px/1 Montserrat, sans-serif;
}

.saveButton:disabled { 
  background-color: #e0e0e0;
  color: #a0a0a0;
  cursor: not-allowed;
  border: none;
}

.container {
  border-radius: 8px;
  background: #fff;
  display: flex;
  max-width: 450px;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  padding: 42px 24px;
  border: 1px solid #000;
  pointer-events: auto;
}

.statusIcon {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.statusMessage {
  margin-bottom: 20px;
  font-size: 14px;
  color: #333;
}

.popupTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.statusMessageBold {
  font-weight: bold;
}

.buttonContainer {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 32px;
  overflow: hidden;
  justify-content: center;
}

/* Save and Cancel button container */
.buttonGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  gap: 20px;
}

.buttonGroup button {
  width: 48%;
}

.closeButton {
  background-color: #4b7d8c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.cancelButton,
.confirmButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.cancelButton {
  background-color: #fff;
  color: #4b7d8c;
  border: 1px solid #4b7d8c;
}

.confirmButton {
  background-color: #4b7d8c;
  color: #fff;
}

.confirmButton,
.closeButton:hover {
  background-color: #3a6270;
}

.submitButton {
  background: #4b7d8c;
  margin-top: 10px;
  margin-left: 10px;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  width: 11vw;
  font: 700 15px/1.6 Montserrat, sans-serif;
}

/* Close Button */
.close1Button {
  margin-top: 10px;
  margin-left: 10px;
  background: #ae0d05;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  width: 11vw;
  font: 700 15px/1.6 Montserrat, sans-serif;
}

.linkButton {
  text-decoration: none;
}