.inputWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .label {
    color: #000;
    font: 500 16px Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
    margin-bottom: 12px;
  }
  
  .input {
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    padding: 16px;
    font: 400 14px Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
    color: #757575;
    width: 93%;
  }
  
  .input::placeholder {
    color: #757575;
  }
  