.doctorCard {
  position: relative; /* Ensure dropdown is positioned relative to this */
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  width: 43%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px;
  padding-top: 5px;
  border: 1px solid #000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 5px;
  padding-right: 30px;
}

@media (max-width: 991px) {
  .doctorCard {
    max-width: 100%;
  }
}


.doctorName {
  background-color: transparent;
  font-size: 20px;
  color: #000;
  margin-bottom: 10px;
  text-align: left;
  font-weight: normal;
  overflow: visible;
  word-break: break-word;
}

.timeslotSelector {
  position: relative;
}

.timeslotDropdown {
  border-radius: 8px;
  background-color: #fff;
  display: block;
  width: 95%;
  height: 20px;
  padding: 10px 12px;
  border: 1px solid #9d9d9d;
  font-size: 16px;
  color: #757575;
  cursor: pointer;
  appearance: none;
  outline: none;
}

.timeslotDropdown option {
  font-size: 16px;
  color: #000;
}

.dropdownItem {
  background-color: #fff;
  display: flex;
  min-height: 25px;
  align-items: center;
  padding: 8px 10px;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: #ede8e8;
}

.dropdownList {
  border-radius: 8px;
  border: 0.3px solid #000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 10;
  width: 95%; /* Matches dropdown */
  max-width: 100%;
  background-color: #fff;
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
}

.timeslotDropdown.disabledDropdown {
  background-color: #e7e4e4; /* Greyed out background */
  cursor: not-allowed;
  color: #a0a0a0; /* Grey text */
}