.tableContainer {
    width: 100%;
    max-width: 100%; /* Ensures the table fits within the content width */
    margin: 0 auto; /* Centers the table */
  }
  
  .table {
    border-radius: 4px;
    background: #fff;
    border: 1px solid #b9b9b9;
    width: 100%;
    border-collapse: collapse;
  }

  .deleteIcon {
    width: 14px; /* Adjust size as needed */
    height: 16px;
    cursor: pointer;
  }
  
  /* Table Header */
.table thead {
  background: #ad1114;
}

.tableHeader th {
  color: #fff;
  padding: 10px 12px;
  font: 600 12px/1.3 Montserrat, sans-serif;
  text-align: left;
  border-left: 1px solid #b9b9b9;
}

/* Table Body */
.table tbody tr {
  width: 100%;
}

.tableCell {
  padding: 10px 12px;
  font: 400 12px/1.3 Montserrat, sans-serif;
  color: #000;
  border-left: 1px solid #b9b9b9;
  border-top: 1px solid #b9b9b9;
  text-align: left;
}
  
  .headerCell {
    padding: 10px 7px;
    font: 600 14px/1.3 Montserrat, sans-serif;
    border-left: 1px solid #b9b9b9;
    text-align: left;
  }
  
  .headerCellButton {
    text-align: center;
    width: 100px;
  }
  
  .tableRow {
    border: 1px solid #b9b9b9;
  }
  
  .tableCell {
    padding: 10px 7px;
    font: 400 12px/1.3 Montserrat, sans-serif;
    border-left: 1px solid #b9b9b9;
    border-top: 1px solid #b9b9b9;
    background-color: #fff;
  }
  
  .tableButtonCell {
    text-align: center;
    background-color: #fff;
    border-left: 1px solid #b9b9b9;
  }
  
  .actionButton {
    width: 2vw;
    height: 3vh;
    border: none;
    color: #fff;
    font: 600 14px Montserrat, sans-serif;
    cursor: pointer;
  }
  
  
  /* Adjust the table column widths */
.table th:nth-child(1),
.table td:nth-child(1) {
  width: 15%;
}

.table th:nth-child(2),
.table td:nth-child(2) {
  width: 15%;
}

.table th:nth-child(3),
.table td:nth-child(3) {
  width: 55%;
}

.table th:nth-child(4),
.table td:nth-child(4) {
  width: 5%;
}
