.adminHomepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  padding-top: 7vh;
  padding-bottom: 3vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: url('/Users/rajihahrosydi/Documents/USM/YEAR 4/SEM 1/CMT322/PROJECT/cmt322-project/usm-bloodconnect/public/Background.png'); */
  background-color: #FBF5E9;
  }
  
  .welcomeSection {
    display: flex;
    margin-top: 0;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  
  .cardGrid {
    display: flex;
    margin-top: 30px;
    width: 100%;
    flex-direction: column;
  }
  
  .cardRow {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 5rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  
  .cardWrapper {
    width: 224px;
    display: flex;
    flex-direction: column;
  }
  
  .card {
    border-radius: 20px;
    background: #f1d2c5;
    display: flex;
    width: 12rem;
    height: 12rem;
    align-items: center;
    justify-content: center;
    padding: 19px;
  }
  
  .cardImage {
    width: 100%;
    object-fit: contain;
  }
  
  .cardButton {
    width: 14.5rem;
    border-radius: 4px;
    background: #4b7d8c;
    margin-top: 18px;
    color: #fff;
    text-align: center;
    padding: 11px 16px;
    font: 700 14px Montserrat, sans-serif;
    border: none;
    cursor: pointer;
  }
  
  @media (max-width: 991px) {
    .userInfo {
      max-width: 100%;
    }
    
    .userName {
      max-width: 100%;
    }
    
    .welcomeSection {
      max-width: 100%;
      margin-top: 40px;
    }
    
    .cardGrid {
      max-width: 100%;
    }
    
    .cardRow {
      max-width: 100%;
    }
    
    .cardButton {
      white-space: initial;
    }
  }