.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  padding-top: 10vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../../public/Background.png');
}

.content {
  width: 80%;
  margin: 0;
  padding: 0;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #ae0d05;
  text-align: left; /* Aligns the title to the left */
  margin-bottom: 40px;
}


@media (max-width: 991px) {
  .header {
    padding: 0 20px;
  }

  .mainContent {
    padding: 40px 20px 0;
  }

  .pageTitle {
    font-size: 40px;
  }
}
