.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  padding-top: 10vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../../public/Background.png');
}

.content {
  width: 80%;
  margin: 0;
  padding: 0;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #ae0d05;
  text-align: left; /* Aligns the title to the left */
  margin-bottom: 40px;
}

/* 
.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.addButton {
  background-color: #4b7d8c;
  color: white;
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font: 700 15px/1.6 Montserrat, sans-serif;
}

.tableWrapper {
  margin-top: 30px;
} */
