.appointmentViewContainer {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 101vh;
    background-color: #FBF5E9;
  }
  
  .mainContent {
    flex: 1;
    padding: 24px 32px;
  }
  
  .appointmentGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: flex-start;
  }
  
  .footer {
    margin-top: 24px;
  }
  
  .footerImage {
    width: 100%;
    height: auto;
  }
  
  @media (max-width: 991px) {
    .mainContent {
      padding: 24px 20px;
    }
  }